body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.output {
  font-size: 10px;
  font-family: monospace;
  white-space: pre-wrap;
}

.output div {
  overflow: scroll;
  max-height: 200px;
}

.output span.badge {
  position: absolute;
  right: 3em;
}